fastapi
uvicorn
streamlit

langchain
langchain-community
langchain-google-genai

google-generativeai

qdrant-client

pypdf

python-dotenv

tiktoken

sentence-transformers

python-multipart

pydantic

requests

langchain-qdrant